body{
    background-color: #F8E7D4;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    padding: 0;
    margin: 0;
}
.start,
.game,
.final{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    gap: 5vh;
    width: 100%;
    height: 100%;
    background-color: #F2EEFF;
}
.start{
    gap: 8vh;
}
.title{
    width: 40vh;
}
button{
    background-color: rgba(255, 255, 255,0);
    border: 0px;
    padding: 5px 10px;
}
.top1{
    height: 20vh;
}
.startbtn{
    width: 30vh;
}
.againbtn{
    width: 40vh;
}
.btn{
    width: 30vh;
}
.image{
    margin-bottom: -3vh;
    bottom: 0%;
    width: 50vh;
}
.logo{
    width: 30vmin;
}
.zone{
    width: 25vmin;
}
.top{
    height: 10vh;
}
.hide{
    display: none;
    visibility: hidden;
}
.left{
    position: absolute;
    top: 5vh;
    left: 2vh;
}
.right{
    position: absolute;
    top: 3vh;
    right: 0vh;
}
.card-image {
    position: absolute;
    border-radius: 5px;
    width: 22.1vh;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-logo{
    position: absolute;
    border-radius: 5px;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-before,
  .card-after {
    position: absolute;
    border-radius: 5px;
    width: 25vh;
    height: 20vh;
    border-radius: 5vmin;
    display: flex;
    color: #F8E7D4;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-before {
    background-color: white;
    font-size: 5vh;
    font-weight: 600;
  }
  .card-after {
    background-color: white;
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-before {
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-after {
    transform: rotateY(0deg);
  }
  .game-container {
    position: relative;
    width: 100%;
    height: 65%;
    display: grid;
  }
  .card-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .instruction{
    width: 40vh;
  }
  .end{
    width: 35vh;
}
/*mobile horizontal*/
@media screen and (max-width:359px) {
    .game-container {
        position: relative;
        width: 100%;
        height: 75%;
        display: grid;
      }
    .card-before,
  .card-after {
    position: absolute;
    border-radius: 5px;
    width: 22vh;
    height: 20vh;
    border-radius: 5vmin;
    display: flex;
    color: #F8E7D4;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-image {
    position: absolute;
    border-radius: 5px;
    width: 20vh;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-logo{
    position: absolute;
    border-radius: 5px;
    width: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  }

/*mobile horizontal*/
@media screen and (width:360px) {
    .game-container {
        position: relative;
        width: 100%;
        height: 70%;
        display: grid;
      }
    .card-before,
  .card-after {
    position: absolute;
    border-radius: 5px;
    width: 22vh;
    height: 20vh;
    border-radius: 5vmin;
    display: flex;
    color: #F8E7D4;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-image {
    position: absolute;
    border-radius: 5px;
    width: 20vh;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-logo{
    position: absolute;
    border-radius: 5px;
    width: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  }
/*mobile vertical*/
@media screen and (min-width:380px) and (max-width:414px) {
    .card-before,
  .card-after {
    position: absolute;
    border-radius: 5px;
    width: 22vh;
    height: 20vh;
    border-radius: 5vmin;
    display: flex;
    color: #F8E7D4;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-image {
    position: absolute;
    border-radius: 5px;
    width: 20vh;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .card-logo{
    position: absolute;
    border-radius: 5px;
    width: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  }

  /*mobile horizontal*/
  @media screen and (min-width:667px) and (max-width:849px) {
    .game-container {
        position: relative;
        width: 55vmin;
        height: 65vh;
        display: grid;
      }
  }

  /*mobile  & ipad horizontal*/
  @media screen and (min-width:850px){
    .game-container {
        position: relative;
        width: 55vmin;
        height: 65vh;
        display: grid;
      }
      .image{
        margin-bottom: 0vh;
        bottom: 0%;
        width: 50vh;
    }
  }

     /*ipad vertical*/
     @media screen and (width:820px){
.game-container {
    position: relative;
    width: 80%;
    height: 65%;
    display: grid;
  }
  .card-before,
  .card-after {
    position: absolute;
    border-radius: 5px;
    width: 25vh;
    height: 20vh;
    border-radius: 5vmin;
    display: flex;
    color: #F8E7D4;
    align-items: center;
    justify-content: center;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
  }
  .image{
    margin-bottom: 0vh;
    bottom: 0%;
    width: 50vh;
}
    }
    /*ipad vertical*/
    @media screen and (min-width:765px) and (max-width:800px) {
        .game-container {
            position: relative;
            width: 70%;
            height: 65%;
            display: grid;
          }
          .card-before,
          .card-after {
            position: absolute;
            border-radius: 5px;
            width: 25vh;
            height: 20vh;
            border-radius: 5vmin;
            display: flex;
            color: #F8E7D4;
            align-items: center;
            justify-content: center;
            transition: transform 0.7s ease-out;
            backface-visibility: hidden;
          }
          .image{
            margin-bottom: 0vh;
            bottom: 0%;
            width: 50vh;
        }
            }